:root {
    --primary-color: #1c1c1c;
    --secondary-color: #fefdf8;
    --accent-color-1: #50da4c;
    --accent-color-2: #c401c4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: relative;
    -webkit-tap-highlight-color: transparent;

    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
}

main {
    display: block;
    min-height: 100vh;
    position: relative;
}

.section{
    height: 100vh;
}

.footer-container{
    width:100%;
    height:50vh;
    display:flex;
    padding-bottom: 1.262vh;
    font-size: larger;
}
.footer-left{
    width:60%;
    height:100%;
    align-items: center;

}
.footer-right{
    width:40%;
    height: 100%;
    
    
}
.footer-left img{
    height:25vh;
    width: auto;
    padding: 1%;
    margin-left: 10%;
    
}
.footer-right img{
    filter: invert(100%);
    height:5vh;
    margin-right: 1.262vh;
}
.footer-right a{
    text-decoration: none;
    color:var(--secondary-color);
    
    
}
.align{
    display:flex;
    align-items:center ;
    justify-content: left;
    padding-left: 1.262vh;
}
.footer-right p{
    font-weight: 500;
}
