#sec5{
    height:auto;
    padding-bottom: 10%;
    .sec5-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 6.3vh;
    }
    
    .sec5-get-started-btn {
        font-size: 4.04vh;
        font-weight: bold;
        color: #fefdf8;
        background-color: #C401C4;
        padding: 2.5vh 7.58vh;
        border-radius:6.3vh;
        border: none;
        cursor: pointer;
        box-shadow: 0vh 1.262vh 2.5vh rgba(0, 0, 0, 0.2);
        transition: background-color 0.5s ease-in;
        transition: color 0.5s ease-out;
        
    }
    
    .sec5-get-started-btn:hover {
        background-color: var( --accent-color-1);
        color:var(--primary-color);

    }
   

.sec5-img{
    position: relative;
    padding-bottom: 25.252vh;
    align-items: center;
    padding-top: 2%;
}
img{
    position: absolute;
    top: 6.3vh; 

    width: 100%; 
    height:auto;
    z-index: 2;
    align-items: center;
    
  }
} 